.App-logo {
  height: 70px;
  float: left;
  margin-left: 10%;
}

.App-header {
  background-color: #fff;
  height: 60px;
  padding: 20px;
  color: white;
  margin-top: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}